:root {
  --color-primario: #143761;
  --color-secundario: #ffcc00;
  /*aclaro el color en hover*/
  --color-primario-hover: #1e5497;
  /* --color-secundario-hover: #e4e4e4;*/
  /*oscurezco en active*/
  --color-primario-value: #0d2644;
  /* --color-secundario-active: #cfcfcf;*/

  --color-background: #f5f5f5;
  --color-background2:#fcfcf0;
  --color-background-footer:#0b1f36;
  --color-fuente-fuerte: #000000;
  --color-fuente-footer-h4: #ffffff;
  --color-fuente-footer-p: #cbd5e1;
  --color-fuente-claro: #dfdfdf;
  --color-fuente-medio: #967d65;
  --color-fuente-suave: #9EA7B6;
  --color-borde-suave: #ccbcbc;
  --color-circle: #ffcc00;
  --color-placeholder: #00000091;

  --ancho-contenedor: 71.80rem;
  /*lo dejo y lo cambio para las cards*/
  --radio-contenedor: 0.5rem;
  /*ídem arriba, tengo que moverlo a css de modelos*/
  --font-title: 'Saira', sans-sherif;
  --font-text: 'Inter', sans-sherif; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: var(--font-text);
}

header {
  background: linear-gradient(to top, rgba(14,37,61,1) 0%, rgba(14,37,61,0) 25%),
  url(../assets/images/svartpilen801.png) no-repeat center center; 
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1em 3em;
}

.container-boton {
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.boton-navegacion {
  height: 3.5em;
  padding: 0 1.8em;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: var(--color-primario);
  color: var(--color-fuente-claro);
  transition: background-color 0.25s ease,
    color 0.1s ease,
    transform 0.1s ease,
    box-shadow 0.25s ease,
    border 0.25s ease;
  font-size: 1rem;
  font-weight: 600;
}

.boton-navegacion:hover {
  background-color: transparent;
  color: var(--color-primario);
  border-color: var(--color-principal);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.boton-navegacion:active {
  transform: translateY(0);
}

img{
    max-width: 100%;
    display: block; 
    /* display block elimina el espacio vacio que*/ 
    /* agrega el navegador por defecto por ser inline*/
}

.logo {
  /*height: 50px;*/
  height: 3em;
  width: 3em;
}

.bandera {
  height: 1em;
  width: auto;
  align-self: flex-start;
}
h1, h2, h3, h4{
  font-family: var(--font-title);
}
h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.2em;
  font-family: var(--font-title);
  font-weight: 600;
  padding: 1em 0 1em 5%;
}
h4{
  font-size: 1.3em;
  font-weight: 600;
  font-family: var(--font-title);
}

p {
  font-size: 1rem;
}

.fuente-oscuro {
  color: var(--color-fuente-fuerte);
}

.contenedor{
  max-width: var(--ancho-contenedor);
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.elementos-espaciado {
  display: flex;
  flex-direction: column;
  gap: var(--margen-entre-inputs);
}

.error {
  color: var(--color-error);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.color-secundario {
  color: var(--color-secundario);
}

.color-medio {
  color: var(--color-fuente-medio);
}

/* Breakpoint tablet */
@media (max-width: 1023px) {
  h1 {
    font-size: 2.1rem;
  }
  .grid {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 19em), 1fr));
    }
}

/* Breakpoint mobile */
@media (max-width: 767px) {
  h1{
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  body{
    padding-top: 0rem;
    padding-bottom: 4rem;
  }
  .grid {
        grid-template-columns: 1fr; /* una sola columna */
    }
}