main {
    background-color: var(--color-background);
    padding-top: 10em;
    padding: 10em 4em 0;
    /*padding de 10em para que no me tape el header*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*agregar gap parametrizado*/
}

.inner-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fuente-fuerte {
    color: var(--color-fuente-fuerte);
}