main {
    background-color: white;
    padding-top: 10em;
    padding: 0em 0em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.hero {
    padding: 3em 5em;
    align-items: center;
}

.hero h1 {
    font-size: 3em;
    color: var(--color-primario);
    padding: 1em 0em
}

.hero button {
    margin-left: 10em;
}

.sub {
    text-decoration: underline;
    text-decoration-color: var(--color-secundario);
    /* Amarillo Husqvarna */
    text-decoration-thickness: 4px;
}

.values-bar {
    background-color: var(--color-primario-value);
    height: 5em;
    width: 100vw;
    padding: 0 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid var(--color-borde-suave);
    border-bottom: 2px solid var(--color-borde-suave);
}

.value {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
}

.value p {
    font-size: 1.5em;
    color: var(--color-circle);
    font-weight: 600;
}

.circle {
    position: relative;
    height: 2.5em;
    width: 2.5em;
    background-color: var(--color-circle);
    border-radius: 9999px;
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.segments-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-primario) 0%, rgba(255, 255, 255, 0) 15%),
        url(../assets/images/background-fade.jpg) center/cover no-repeat;
}

.segments-cards-container>h3 {
    align-self: center;
    padding: 1em 0 0;
    font-size: 2em;
}

.grid {
    position: relative;
    align-self: center;
    display: grid;
    grid-template-columns: 25em 25em 25em;
    text-align: center;
    padding: 3em 0;
    row-gap: 1.5em;
}

.segment-card>img {
    /* solo las fotos dentro de esta clase, no las que se encuentran mas adentro */
    width: 24em;
    border-radius: 0.5em;
    border: 2px solid var(--color-primario);
    transition: border-color 0.25s ease,
        transform 0.3s ease;
}
.segment-card>img:hover{
    border-color: var(--color-secundario);
    transform: scale(1.01);

}

.title-underline {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.title-underline h4 {
    position: relative;
    z-index: 2;
}

.title-underline img {
    position: absolute;
    top: -16px;
    left: -1.5em;
    /* arranca debajo del h4 */
    z-index: 1;
}

.latest-news-container {
    width: 100%;
    padding: 1em 3em;
    border-top: 2px solid var(--color-borde-suave);
}

.latest-news-container h3 {
    position: relative;
    left: 5em;
    font-size: 2em;
    padding: 1em 0;
}

.cards-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2em;
    /* sacar */
    gap: 1em;
    /* ^ */
    align-items: center;

}

.news-card {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-primario);
    border-radius: 13px;
    background-color: var(--color-borde-suave);
    height: 15em;
}

.news-card img {
    height: 15em;
    width: auto;
    border-radius: 10px;
}

.card-text {
    padding: 0.5em 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.center-card {
    width: 40em;
    position: relative;
    z-index: 3;
}

.behind {
    width: 35em;
    top: 0em;
    position: absolute;
    opacity: 0.6;
}

.left-card {
    left: 1em;
}

.right-card {
    right: 1em;
}

.newsletter-form{
    width: 100%;
    /* display column (on-block) */
}
.newsletter-form h3 {
    position: relative;
    left: 5em;
    font-size: 2em;
    padding: 1em 0;
}
.form-container{
    /* position relative */
}
.form-container form{
    align-items: center;
    padding: 2em;
    width: 30em;
    height: 25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

form input{
    height: 3em;
    width: 20em;
    padding: 0 1em;
}

form button{
    height: 2.5em;
    width: 12em;
}